<% include ../../shared/header.ejs %>
<% include ../../shared/topBar.ejs %>
<link rel="stylesheet" href="/plugins/datatable/css/dataTables.bootstrap.css">

<div class="row">

    <div class="col-sm-12">

        <div class="panel panel-default">

            <div class="panel-heading col-sm-12">

                <div class="panel-title col-sm-6">
                    <label style="margin-top: 5px;">Kartlar</label>
                </div>

                <div class="col-sm-offset-4 col-sm-2">
                    <a type="button" class="btn btn-primary btn-sm active" href="/definitions/card/list">Listele</a>
                    <a type="button" class="btn btn-primary btn-sm" href="/definitions/card/create">Yeni Ekle</a>
                </div>

            </div>

            <div class="panel-body">

                <table id="dataTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Kart Id</th>
                        <th>Kart Kodu</th>
                        <th>İşlemler</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var index in data) {
                        var subData = data[index];
                    %>
                    <tr class="deletable">
                        <td><%= subData.cardId %></td>
                        <td><%= subData.cardCode %></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default editbutton" href="/definitions/card/edit/<%= subData._id%>">
                                    <i class="fa fa-fw fa-edit"></i>
                                </a>
                                <button class="deleter btn btn-danger"
                                        data-id="<%= subData._id%>"
                                        data-url="/definitions/card/delete">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Kart Id</th>
                        <th>Kart Kodu</th>
                        <th>İşlemler</th>
                    </tr>
                    </tfoot>
                </table>

            </div>


        </div>

    </div>

</div>

</div>
<script src="/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/plugins/datatable/js/dataTables.bootstrap.min.js"></script>
<script src="/js/createdatatable.js"></script>
<script src="/js/deleter_button.js"></script>
<% include ../../shared/footer.ejs %>