<body>
<div class="container">
<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Basic GKS</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Tanımlar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/definitions/reader/list">Okuyucu</a>
                        </li>
                        <li>
                            <a href="/definitions/rgroup/list">Okuyucu Grup</a>
                        </li>
                        <li>
                            <a href="/definitions/card/list">Kart</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Personel <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/definitions/personnel/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ekle</a></li>
                        <li><a href="/definitions/personnel/list"><span class="glyphicon glyphicon-list"></span> Listele</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Raporlar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/report/general">Genel Rapor</a></li>
                        <li><a href="/report/personnel">Personel Raporu</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Kullanıcı <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ekle</a></li>
                        <li><a href="/user/list"><span class="glyphicon glyphicon-list"></span> Listele</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Çıkış</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>