.wait-modal * {
    box-sizing: border-box;
}

.wait-modal {
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1003;
    overflow-y: auto;
    background: rgba(0, 0, 0, .8);
    opacity: 1;
    cursor: wait;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    display: block;

}

.wait-modal-box{
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    border-radius: 4px;
    background: #fff;
    opacity: 1;
    cursor: auto;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
}

.wait-modal-box__content{
    padding: 4rem;

}