<!DOCTYPE HTML>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> - Admin Panel</title>
    <script type="text/javascript" src="/plugins/jquery-3.1.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/css/login.css"/>
</head>

<body class="bg-color">
<div class="container">
    <div class="login">
        <div class="login-header">
            <h5>Kullanıcı Adınız ile Giriş Yapınız</h5>
        </div>

        <div class="login-content">
            <div>
                <div class="field noline nopadding">
                    <label class="left" for="username">Kullanıcı Adı</label>
                    <input type="text" class="validate tip-stay right" title="Kullanıcı adı giriniz" id="username">
                </div>

                <div class="field">
                    <label class="left" for="password">Şifre</label>
                    <input type="password" class="validate tip-stay right" title="Şifre Giriniz" id="password">
                </div>

                <div class="login-footer">
                    <button id="login-button" class="btn btn-spec">Login</button>
                </div>
            </div>
        </div>

    </div>
    <div class="main-footerx">
        <ul>
            <li>
                <strong>Copyright © 2017 | KazanSoftware&nbsp;|</strong> Bütün Hakları Saklıdır.
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>